USE master
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

SET ANSI_PADDING ON
GO

/*- ================================================================================
-- Author:		SWKim, Actuarial Controlling Dept.
-- Create date: 2012.07.12
-- Description:	create table sql
-- ================================================================================= */
IF OBJECT_ID ('[dbo].[sp_d32_out_create]', 'P') IS NOT NULL
  DROP PROCEDURE [dbo].[sp_d32_out_create];
GO

CREATE PROCEDURE [dbo].[sp_d32_out_create]
	@p_outputPath_d varchar(300),     -- output 경로 상세
	@p_excelFile    varchar(300),     -- excel file 
	@p_excelSheet   varchar(300),     -- excel sheet	
  @p_var_dvsn     varchar(6)        -- var dvsn : var / nonvar
AS
BEGIN

	PRINT '/* ==== sp_d32_out_create ====================================================== */';
	declare @sqlHead  varchar(max)   -- create sql문					
	declare @DataSrc  varchar(500)   -- excel file
  if(@p_var_dvsn = 'nonvar')
  	set @sqlHead = 'Create table [' + @p_excelSheet + '] (period text,cal_year float,
  										              cal_month float,
  										              prem_sgl float,
  										              prem_ini float,
  										              prem_1yr float,
  										              prem_2yr float,
  										              prem_3yr float,
  										              prem_4yr float,
  										              prem_total float,
  										              comm_fm_ac float,
  										              comm_fm float,
  										              comm_fy float,
  										              comm_rn2 float,
  										              comm_rn3 float,
  										              comm_rn4 float,
  										              comm_rn float,
  										              comp_oth float,
  										              comm_claw float,
  										              comm_total float,
  										              exp_acq float,
  										              exp_maint float,
  										              exp_coll float,
  										              exp_total float,
  										              inv_exp_di float,
  										              inv_exp_in float,
  										              inv_exp float,
  										              surp_int float,
  										              inv_total float,
  										              clm_mat float,
  										              clm_surv float,
  										              clm_ann float,
  										              clm_waiver float,
  										              clm_death float,
  										              clm_acc float,
  										              clm_dis float,
  										              clm_diag float,
  										              clm_surg float,
  										              clm_hosp float,
  										              clm_outp float,
  										              clm_recup float,
  										              clm_h_ann float,
  										              clm_other float,
  										              clm_retire float,
  										              clm_surr float,
  										              clm_total float,
  										              res_incr float,
  										              dac_incr float,
  										              surp_bef float,
  										              surp_tax float,
  										              div_int float,
  										              dividend float,
  										              surp_aft float,
  										              res_data float,
  										              res_basic float,
  										              res_bas_sv float,
  										              res_bas_rk float,
  										              res_u_prem float,
  										              reserve float,
  										              sv_data float,
  										              surr_val float,
  										              dac_assets float,
  										              newdac_tax float,
  										              rlstic_dac float,
  										              dac_taxble float,
  										              sum_at_rsk float,
  										              sm_reserve float,
  										              sm_rp_risk float,
  										              solv_marg float,
  										              solv_int float,
  										              transfers float,
  										              g_prem_l float,
  										              g_int_av float,
  										              g_int_cr float,
  										              g_inv_ex_d float,
  										              g_inv_ex_i float,
  										              g_inv_exp float,
  										              g_sur_pft float,
  										              gaap_dpl_i float,
  										              gaap_url_i float,
  										              g_benrsv_i float,
  										              gaap_res_i float,
  										              gaap_dac_i float,
  										              g_surp_bef float,
  										              g_egp_exp float,
  										              gaap_egp float,
  										              g_comm_d float,
  										              g_exp_d float,
  										              g_newdac float,
  										              g_pl_ult float,
  										              g_newdpl float,
  										              g_newurl float,
  										              gaap_dac float,
  										              gaap_asset float,
  										              g_pv_prem float,
  										              g_pv_clm float,
  										              g_pv_d_exp float,
  										              g_pv_nd_ex float,
  										              g_benrsv_t float,
  										              gaap_dpl float,
  										              gaap_url float,
  										              gaap_res float,
  										              gaap_surp float,
  										              g_gpv_r float,
  										              gaap_def float,
  										              g_benrsv float,
  										              g_mer float,
  										              gaap_upr float,
  										              g_pv_fel float,
  										              g_pv_def float,
  										              g_pv_egp float,
  										              re_ced_prm float,
  										              re_clms float,
  										              re_exp float,
  										              re_pr_comm float,
  										              re_result float,
  										              aos_int_cr float,
  										              aos_re_prf float,
  										              aos_dth_a float,
  										              aos_acdt_a float,
  										              aos_dis_a float,
  										              aos_diag_a float,
  										              aos_surg_a float,
  										              aos_hosp_a float,
  										              aos_outp_a float,
  										              aos_recu_a float,
  										              aos_hann_a float,
  										              aos_reti_a float,
  										              aos_waiv_a float,
  										              aos_othc_a float,
  										              aos_dth_e float,
  										              aos_dth_r float,
  										              aos_acdt_e float,
  										              aos_dis_e float,
  										              aos_diag_e float,
  										              aos_surg_e float,
  										              aos_hosp_e float,
  										              aos_outp_e float,
  										              aos_recu_e float,
  										              aos_hann_e float,
  										              aos_reti_e float,
  										              aos_waiv_e float,
  										              aos_othc_e float,
  										              exp_alpha float,
  										              exp_beta float,
  										              prem_disc float,
  										              exp_gamma float,
  										              aos_prm_ld float,
  										              aos_exp float,
  										              aos_sur float,
  										              aos_other float,
  										              aos_surp float,
  										              net_prem_r float,
  										              risk_prem float,
  										              prem_load float,
  										              load_alpha float,
  										              load_beta float,
  										              load_gamma float,
  										              prem_data float,
  										              prem_if_b float,
  										              prem_nb float,
  										              fa_data float,
  										              face_val float,
  										              face_nb float,
  										              face_dth float,
  										              face_mat float,
  										              face_lapse float,
  										              face_if_e float,
  										              num_pols_b float,
  										              num_nb float,
  										              num_dth float,
  										              num_mat float,
  										              num_lapse float,
  										              pol_data float,
  										              policies_b float,
  										              g_inv_ic float,
  										              res_b_act float,
  										              mgr_res float,
  										              prem_sav float,
  										              g_pv_def_d float,
  										              g_pv_eg_d float,
  										              g_pv_fel_d float,
  										              prm_sg_col float,
  										              prm_m1_col float,
  										              prm_y1_col float,
  										              prm_y2_col float,
  										              prm_y3_col float,
  										              prm_y4_col float,
  										              prm_totcol float,
  										              cl_mat_col float,
  										              cl_srv_col float,
  										              cl_dth_col float,
  										              cl_sur_col float,
  										              cl_tot_col float,
  										              gres_i_col float,
  										              tran_rider float,
  										              opt_new float,
  										              opt_amort float,
  										              opt_bal float,
  										              opt_res float,
  										              opt_rtrn_p float,
  										              opt_rtrn_s float,
  										              g_dpl_amor float,
  										              g_dpl_int float,
  										              g_url_amor float,
  										              g_url_int float,
  										              g_dac_amor float,
  										              g_dac_int float,
  										              g_soe_exp float,
  										              g_soe_inv float,
  										              g_soe_lps float,
  										              g_soe_risk float,
  										              g_soe_rein float,
  										              g_soe_oth float,
  										              soe_exp float,
  										              soe_invest float,
  										              soe_lapse float,
  										              soe_risk float,
  										              soe_reins float,
  										              soe_other float,
  										              ann_assure float,
  										              n_ann_rv_e float,
  										              n_ann_p_e float,
  										              ann_base float,
  										              res_gmdb float,
  										              res_gmsb float,
  										              exp_claim float,
  										              prm_h_p_am float,
  										              prm_h_p float)' 
                                    
  if(@p_var_dvsn = 'var')
  	set @sqlHead = 'Create table [' + @p_excelSheet + '] (period text,cal_year float,
                                   cal_month float,
                                   prem_sgl float,
                                   prem_ini float,
                                   prem_1yr float,
                                   prem_2yr float,
                                   prem_3yr float,
                                   prem_4yr float,
                                   prem_total float,
                                   comm_fm_ac float,
                                   comm_fm float,
                                   comm_fy float,
                                   comm_rn2 float,
                                   comm_rn3 float,
                                   comm_rn4 float,
                                   comm_rn float,
                                   comp_oth float,
                                   comm_claw float,
                                   comm_total float,
                                   exp_acq float,
                                   exp_maint float,
                                   exp_total float,
                                   inv_exp_di float,
                                   inv_exp_in float,
                                   inv_exp float,
                                   surp_int float,
                                   inv_total float,
                                   clm_mat float,
                                   clm_surv float,
                                   clm_ann float,
                                   clm_waiver float,
                                   clm_death float,
                                   clm_acc float,
                                   clm_dis float,
                                   clm_diag float,
                                   clm_surg float,
                                   clm_hosp float,
                                   clm_outp float,
                                   clm_recup float,
                                   clm_h_ann float,
                                   clm_other float,
                                   clm_retire float,
                                   clm_surr float,
                                   clm_total float,
                                   res_incr float,
                                   dac_incr float,
                                   surp_bef float,
                                   surp_tax float,
                                   surp_aft float,
                                   res_data float,
                                   res_basic float,
                                   res_u_prem float,
                                   reserve float,
                                   sv_data float,
                                   surr_val float,
                                   res_actual float,
                                   dac_assets float,
                                   newdac_tax float,
                                   rlstic_dac float,
                                   dac_taxble float,
                                   sum_at_rsk float,
                                   sm_reserve float,
                                   sm_rp_risk float,
                                   solv_marg float,
                                   solv_int float,
                                   transfers float,
                                   g_prem_l float,
                                   g_int_av float,
                                   g_int_ot float,
                                   g_clm_prf float,
                                   g_sur_pft float,
                                   g_oth_pft float,
                                   g_int_cr float,
                                   g_inv_ex_d float,
                                   g_inv_ex_i float,
                                   g_inv_exp float,
                                   gaap_url_i float,
                                   g_benrsv_i float,
                                   gaap_res_i float,
                                   gaap_dac_i float,
                                   g_surp_bef float,
                                   g_egp_exp float,
                                   gaap_egp float,
                                   g_int_pft float,
                                   g_comm_d float,
                                   g_exp_d float,
                                   g_newdac float,
                                   g_pl_ult float,
                                   g_newurl float,
                                   gaap_dac float,
                                   gaap_asset float,
                                   g_benrsv_t float,
                                   gaap_url float,
                                   gaap_res float,
                                   gaap_surp float,
                                   g_gpv_r float,
                                   g_benrsv float,
                                   g_mer float,
                                   gaap_upr float,
                                   g_pv_fel float,
                                   g_pv_def float,
                                   g_pv_egp float,
                                   exp_alpha float,
                                   exp_beta float,
                                   prem_disc float,
                                   exp_gamma float,
                                   re_ced_prm float,
                                   re_clms float,
                                   re_exp float,
                                   re_pr_comm float,
                                   re_result float,
                                   tran_rider float,
                                   ph_load float,
                                   aos_prm_ld float,
                                   aos_exp float,
                                   aos_sur float,
                                   aos_other float,
                                   aos_surp float,
                                   aos_re_prf float,
                                   net_prem_r float,
                                   risk_prem float,
                                   prem_load float,
                                   load_alpha float,
                                   load_beta float,
                                   load_gamma float,
                                   prem_data float,
                                   prem_if_b float,
                                   prem_nb float,
                                   fa_data float,
                                   face_val float,
                                   face_nb float,
                                   face_dth float,
                                   prem_if_c float,
                                   face_lapse float,
                                   face_if_e float,
                                   num_pols_b float,
                                   num_nb float,
                                   num_dth float,
                                   num_mat float,
                                   num_lapse float,
                                   pol_data float,
                                   policies_b float,
                                   g_inv_ic float,
                                   fund_alloc float,
                                   fund_b float,
                                   fee_maint float,
                                   fee_fixed float,
                                   fee_riskp float,
                                   fee_rp_tot float,
                                   fund_int_b float,
                                   fund_m float,
                                   fund_death float,
                                   fund_lapse float,
                                   fee_gmab float,
                                   fee_gmdb float,
                                   fee_mgt float,
                                   fund_mgt_a float,
                                   fund_int_e float,
                                   fund_e float,
                                   fund_int float,
                                   fund_incr float,
                                   fund_mat float,
                                   fundsurprf float,
                                   claim_gmab float,
                                   claim_gmdb float,
                                   resgmabinc float,
                                   res_gmab_e float,
                                   resgmab_ic float,
                                   resgmab_ie float,
                                   res_gmdb_e float,
                                   resgmdbinc float,
                                   resgmdb_ic float,
                                   resgmdb_ie float,
                                   cl_add_dth float,
                                   ad_dth_b float,
                                   ad_dth_e float,
                                   g_exp_prf float,
                                   g_fe_load float,
                                   g_pv_def_d float,
                                   g_pv_eg_d float,
                                   g_pv_fel_d float,
                                   prm_sg_col float,
                                   prm_m1_col float,
                                   prm_y1_col float,
                                   prm_y2_col float,
                                   prm_y3_col float,
                                   prm_y4_col float,
                                   prm_totcol float,
                                   cl_mat_col float,
                                   cl_srv_col float,
                                   cl_dth_col float,
                                   cl_sur_col float,
                                   cl_tot_col float,
                                   gres_i_col float,
                                   g_url_amor float,
                                   g_url_int float,
                                   g_dac_amor float,
                                   g_dac_int float,
                                   g_soe_risk float,
                                   g_soe_lap float,
                                   g_soe_inv float,
                                   g_soe_exp float,
                                   g_soe_rein float,
                                   g_soe_oth float,
                                   soe_risk float,
                                   soe_lapse float,
                                   soe_inv float,
                                   soe_exp float,
                                   soe_reins float,
                                   soe_oth float,
                                   ann_assure float,
                                   n_ann_rv_e float,
                                   n_ann_p_e float,
                                   ann_base float,
                                   exp_claim float,
                                   prm_h_p_am float,
                                   prm_h_p float)' 
  										                
  
                                    
	 set @DataSrc = @p_outputPath_d + @p_excelFile + '.xls'
	  
	 exec dbo.sp_d33_out_excelcontrol @DDL= @sqlHead, @DataSource = @DataSrc
	 print 'create : ' + @DataSrc + '~' + @p_excelSheet    
	 set @sqlHead =''
	 set @DataSrc =''      		 				 		  		  
	 
	
	PRINT '/* ==== sp_d32_out_create end =================================================== */';

END
go	
SET ANSI_PADDING OFF
GO	

